@model VoiceSage.Web.Models.ViewModelContact

<form asp-action="ContactEdit">
    <input asp-for="ContactDto.ContactId" hidden />
    
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Edit Contact</h1>

        <hr />
        
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="ContactDto.Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ContactDto.Name" class="form-control" />
                <span asp-validation-for="ContactDto.Name" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="ContactDto.Email" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ContactDto.Email" class="form-control" />
                <span asp-validation-for="ContactDto.Email" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="ContactDto.Number" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ContactDto.Number" class="form-control" />
                <span asp-validation-for="ContactDto.Number" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Groups</label>
            </div>
            <select class="form-select" aria-label="Default select example">
                @for (var a = 0; a < ViewBag.AllGroups.Count; a++)
                {
                    <option>@Model.ContactDto.ContactGroups[a].GroupId</option>
                }
            </select>
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <tr>
                        <th>
                            GroupId
                        </th>
                        <th>
                            Group Name
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                    @{
                        //To make unique Id
                        int j = 0;
                        foreach (var item in Model.Groups.ToList())
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(o => o.Groups[j].GroupId)
                                </td>
                                <td>
                                    @Html.DisplayFor(o => o.Groups[j].GroupName)
                                </td>
                                <td>
                                    @Html.DisplayFor(o => o.Groups[j].Description)
                                </td>
                                <td>
                                    <button id="addGroup+@j" class="btn btn-success" asp-action="AddRemoveGroup"
                                            asp-route-contactId="@Model.ContactDto.ContactId"
                                            asp-route-groupId="@Model.Groups[j].GroupId">
                                        
                                    </button>
                                </td>
                            </tr>
                            j++;
                        }
                    }
                </table>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="ContactIndex" class="btn-primary btn form-control" onclick="">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Edit" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
